@use 'mixins';

:host {
  background-color: var(--dark);
  box-shadow: 0 1px 6px 1px #23232350;
}

md-container {
  @include mixins.flex;
  height: 3.5rem;
}

h3 {
  color: var(--primary);
  padding: 0 0.5rem;
}

.logo {
  align-items: center;
  cursor: pointer;
  display: flex;
}

ul {
  counter-reset: css-counter 0;
  display: flex;
  list-style: none;
}

ul::ng-deep li {
  // color: var(--primary);
  counter-increment: css-counter 1;
  cursor: pointer;
  margin-left: 1rem;

  &:hover {
    text-decoration: underline;
  }

  &::before {
    color: var(--primary);
    content: '0' counter(css-counter) '.';
  }
}
