<h4>Experience</h4>
<md-tab-group>
  <md-tab title="Soprasteria">
    <h3>Frontend developer engineer</h3>
    <h5>June 2021 - Present</h5>
    <li>
      Write modern, performant, maintainable code for a diverse array of client and internal
      projects
    </li>
    <li>
      Work with a variety of different languages, platforms and frameworks such as JavaScript,
      TypeScript, Angular, Rxjs, Gitlab, Jenkins and AWS
    </li>
    <li>
      Communicate with multi-disciplinary teams of engineers, designers, producers, and clients on a
      daily basis
    </li>
  </md-tab>

  <md-tab title="Bravent">
    <h3>Frontend developer engineer</h3>
    <h5>October 2020</h5>
    <li>
      Developed and shipped highly interactive web applications for different companies using
      Angular and React.js
    </li>
    <li>
      Worked closely with designers and management team to develop, document, and manage a wide
      variety of corporative level websites and web applications
    </li>
  </md-tab>

  <md-tab title="Freelance">
    <h3>Web Designer and developer</h3>
    <h5>October 2014</h5>
    <li>
      Collaborated with different customers to spearhead new brands and design systems for
      e-commerce apps and marketing solutions
    </li>
    <li>
      Proposed and implemented scalable solutions to issues identified with online presence and
      applications responsible for managing small business units
    </li>
  </md-tab>

  <md-tab title="Dumon">
    <h3>Graphic Design</h3>
    <h5>October 2007</h5>
    <li>In charge of the design and development of all the graphic assets for the company</li>
    <li>Take initial ideas and develop them into final product ready to be printed</li>
  </md-tab>
</md-tab-group>
