:host {
  // @include mixins.auto-grid(450px, 3rem);
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr 1fr;
  padding: 4rem 0;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;

    .img {
      margin: auto;
      max-width: 500px;
    }
  }

  .img {
    background-color: var(--primary);
    border-radius: var(--radius-lg);
    overflow: hidden;
  }
}

img {
  aspect-ratio: 12 / 16;
  mix-blend-mode: multiply;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
