:root {
  --dark: #14171c;
  --bg-light: #cfdbd5;
  --bg-dark: #333533;
  --contrast: #e8eddf;
  --contrast-dark: #14171c;
  // --primary: #cddc39;
  --primary: #26c6da;
  --primary-light: #b2dbbf;
  --primary-alpha: #26c6da20;
  --accent: #ff1654;
}
