@use "fonts";

h1,
h2,
h3,
h4 {
  font-family: fonts.$title;
  letter-spacing: 0.025em;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p,
li {
  line-height: 1.8rem;
  letter-spacing: 0.025rem;
}
