@use 'fonts';

h1,
h2,
h3,
h4 {
  font-family: fonts.$title;
  letter-spacing: 0.025em;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.095rem;

  &::before {
    content: 'a';
  }
}

h2 {
  font-family: 'Hand';
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.032rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
  letter-spacing: 0.016px;
}

h5 {
  font-size: 1.5rem;
}

p,
li {
  letter-spacing: 0.025rem;
  line-height: 1.8rem;
}
