svg {
  opacity: 0.3;
}

.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
  }

  .cursor-inner {
    fill: transparent;
    mix-blend-mode: lighten;
    stroke: var(--primary);
    stroke-width: 1px;
  }
}
