<h4>Github Repositories</h4>
<div class="grid">
  <a
    class="card-link"
    target="_blank"
    [href]="repo.html_url"
    [attr.aria-label]="repo.name"
    rel="noreferrer"
    *ngFor="let repo of repos$ | async; let index = index"
  >
    <md-card [bgImage]="'https://picsum.photos/300/200?' + letters[index]">
      <div class="card-header">
        <i class="fa fa-folder"></i>
        <a
          [href]="repo.html_url"
          target="_blank"
          [title]="repo.name"
          [attr.aria-label]="repo.name"
          rel="noreferrer"
        >
          <i class="fab fa-github-square"></i>
        </a>
      </div>

      <p>{{ repo.name }}</p>
      <span class="description">{{ repo.description | substring }}</span>
      <span class="language">{{ repo.language }}</span>
    </md-card>
  </a>
</div>
