<md-cursor>
  <section data-scroll-container #el>
    <md-header>
      <li #hover routerLink="home">Home</li>
      <li #hover routerLink="blog">Blog</li>
      <div #hover>
        <span *ngIf="isDarkMode; else moon" (click)="toggleDarkMode()" class="far fa-sun"></span>
        <ng-template #moon>
          <span (click)="toggleDarkMode()" class="far fa-moon"></span>
        </ng-template>
      </div>
    </md-header>

    <md-container>
      <router-outlet></router-outlet>
    </md-container>
  </section>
  <md-social></md-social>
</md-cursor>
