<md-cursor>
  <section data-scroll-container #el>
    <md-header>
      <li #hover>Home</li>
      <li #hover>Blog</li>
      <div #hover>
        <span *ngIf="isDarkMode; else moon" (click)="toggleDarkMode()" class="far fa-sun"></span>
        <ng-template #moon>
          <span (click)="toggleDarkMode()" class="far fa-moon"></span>
        </ng-template>
      </div>
    </md-header>

    <md-container>
      <router-outlet></router-outlet>
    </md-container>

    <main *ngIf="files$ | async as files">
      <!-- <ngx-md [path]="files[1].download_url"></ngx-md> -->
    </main>
  </section>
  <md-social></md-social>
</md-cursor>
