<div class="left">
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/abelfubu/"
        target="_blank"
        #hover
        aria-label="Linkedin"
        rel="noreferrer"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/abelfubu"
        target="_blank"
        #hover
        aria-label="Twitter"
        rel="noreferrer"
      >
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/abelfubu"
        target="_blank"
        #hover
        aria-label="Github"
        rel="noreferrer"
      >
        <i class="fab fa-github-square"></i>
      </a>
    </li>
  </ul>
</div>
<div class="right">
  <a href="mailto:abelfubu@gmail.com" target="_blank" #hover>abelfubu@gmail.com</a>
</div>
