@use 'mixins';

:host {
  @include mixins.breakpoint-down(medium) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

.left,
.right {
  align-items: center;
  bottom: 1rem;
  position: fixed;

  @include mixins.breakpoint-down(medium) {
    position: static;
  }
}

.left {
  font-size: 1.5rem;
  left: 1rem;

  ul {
    list-style: none;
    @include mixins.breakpoint-down(medium) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    margin: 0.5rem 0;
    @include mixins.breakpoint-down(medium) {
      margin-right: 0.5rem;
    }
  }
}

.right {
  right: 1rem;

  a {
    writing-mode: vertical-lr;

    @include mixins.breakpoint-down(medium) {
      writing-mode: horizontal-tb;
    }
  }
}
