$title: 'Inconsolata', monospace;
$normal: 'Rubik', sans-serif;
$hand: 'Hand';

@font-face {
  font-family: 'Hand';
  src: url('../../assets/fonts/DK.ttf');
}

@font-face {
  font-family: 'Fira';
  src: url('../../assets/fonts/Fira.ttf');
}
