<section class="hero">
  <h1>Abel de la Fuente.</h1>
  <h2>Web developer</h2>
  <p>
    Curioso, creativo, proactivo, versátil, me encanta innovar y descubrir cosas nuevas, la música,
    el café y la tecnología.
  </p>
  <md-button type="outline">GET IN TOUCH</md-button>
</section>

<section class="about">
  <div class="col">
    <h4>About me</h4>
    <p>
      Curioso, creativo, proactivo, versátil, me encanta innovar y descubrir cosas nuevas, la
      música, el café y la tecnología. De pequeño crecí entre ordenadores y siempre quise descubrir
      qué es lo que pasaba dentro de esas cajas silenciosas. Me interesé por el diseño, por la
      ilustración, por la música y después por cómo unir todo esto en una sola filosofía. En los
      últimos años me he especializado en desarrollo de aplicaciones tanto corporativas como para
      pequeños usuarios, utilizando como principal stack Angular, Typescript y Nodejs. Deseo poder
      aportar mis conocimientos y seguir aprendiendo y creciendo en el mundo del desarrollo web que
      me apasiona.
    </p>
  </div>
  <div class="col img" data-scroll data-scroll-speed="2">
    <img
      src="https://media-exp3.licdn.com/dms/image/C4E03AQHk550y2tSIjg/profile-displayphoto-shrink_800_800/0/1593251933328?e=1631750400&v=beta&t=GSM-Z7KDK4_vj1L_DAv1e2B2IfecQZa52icXPEYxSwQ"
      alt="Profile picture"
    />
  </div>
</section>

<section class="experiennc">
  <h4>Experience</h4>
  <md-tab-group>
    <md-tab title="Soprasteria">
      <h5>Frontend developer egineer</h5>
      <h6>Junio 2021</h6>
      <li>
        Desarrollando y manteniendo código para diferentes proyectos primordialmente usando Angular,
        typescript, scss, angular material, NgRx, etc...
      </li>

      <li>
        Realizando test automaticos, integración y end to end comporbando la compatibilidad con
        diferentes navegadores además de realizar un código limpio y mantenible
      </li>
    </md-tab>

    <md-tab title="Bravent">
      <h5>Frontend developer</h5>
      <h6>Ocutbre 2020</h6>
    </md-tab>
  </md-tab-group>
</section>
