:host {
  counter-set: h4 0;
  display: block;
}

::ng-deep h4 {
  counter-increment: h4 1;
  position: relative;

  &::before {
    color: var(--primary);
    content: '0' counter(h4) '. ';
    font-size: 1.5rem;
  }

  &::after {
    background-color: var(--contrast);
    content: '';
    height: 0.5px;
    margin-left: 1rem;
    opacity: 0.2;
    position: absolute;
    top: 45%;
    width: 200px;
  }
}
